{% extends "layout.html" %}
{% block title %}details{% endblock %}
{% block content %}
    <div class="details_box"> 
        <img src={{ food_item.item_image }} width="200px" height="200px">
        <div class="details">
            <div>
            {{ food_item.item_name }}
            </div>
            <div>
            {{ food_item.item_description }} 
            </div>
            <div>
            {{ food_item.item_price }}
            </div>
        </div>
    </div>
    <div class="button_box">
        <a href="{% url 'food_app:edit' item_id=food_item.id %}" class="btn btn-primary" type="button">Edit</a>
        <button class="btn btn-primary" type="button">Delete</button>
    </div>
{% endblock %}
